{% extends "mainapp/base.html" %}

{% block body %}
    

  <div class="mx-16">
      <h1 class="text-primary text-5xl py-5">Task Manager</h1>

      {% include "mainapp/partials/search.html" %}
      {% include "mainapp/partials/filter.html" %}
      {% include "mainapp/partials/create-task.html" %}

      <p class="text font-bold text-gray-400 my-5"> Hold shift and click on the cell to edit </p>
      
      {% include "mainapp/partials/task-table.html" %}
  </div>


{% endblock body %}