<div id="new_task_success_alert" role="alert" class="alert new_task_alert alert-success">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>Your task has been created!</span>
</div>

<table class="table table-zebra rounded-box p-8" id="task-table" hx-swap-oob="true" >
    <thead>
    <tr>
        <th>Name</th>
        <th>Content</th>
        <th>Creation date</th>
        <th>Start date</th>
        <th>Deadline date</th>
        <th>Importance</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        {% if forloop.first %}
            {% include 'mainapp/partials/task_tr.html' %}
        {% else %}
            {% include 'mainapp/partials/task_tr_partial.html' %}
        {% endif %}
    {% empty %}
    <tr>
        <td colspan="6" class="text-center text-gray-400 py-4">
            No tasks yet. 🎉
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
